.sub-card {
  margin: 1em;
  color: black !important;
}

body {
  background-color: white !important;
}

.login-dark {
  background-color: #733d47;
  background-size: cover;
  position: relative;
}
.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #733d47;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 20em;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.btn-rose-dark {
  background-color: #733d47 !important;
  border: #733d47 !important;
  color: white !important;
}

.btn-rose-dark {
  background-color: #775158 !important;
  border: #733d47 !important;
  color: white !important;
}

.btn-rose-dark {
  background-color: #753843 !important;
  border: #733d47 !important;
  color: white !important;
}

.navbar {
  background-color: #733d47 !important;
  color: white !important;
  font-weight: bolder;
}

.btn-rose-light {
  background-color: #f2d8d5 !important;
  border: #f2d8d5 !important;
  color: black !important;
}

.dropdn-btn .btn-primary {
  background-color: #753843 !important;
  color: white !important;
  border: #753843;
}

.dropdn-btn .btn-primary:active {
  background-color: #753843 !important;
  color: white !important;
  border: #753843;
}

.btn-rose-light:hover {
  background-color: rgb(240, 198, 185) !important;
  border: rgb(240, 198, 185);
  color: black !important;
}

.btn {
  border: none;
}

.btn-rose-light:focus {
  background-color: rgb(238, 176, 157) !important;
  border: rgb(238, 176, 157);
  color: black !important;
}
